* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppinsb';
    src: url('fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppinsi';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #bcbdb7;
    color: #333;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #1b1c21;
    margin-bottom: 10px;
}


header {
    background-color: #1b1c21;
    color: #fff;
    padding: 0;
    margin: 0;
}

.hero {
    width: 100%;
    /* Ocupa toda a largura da tela */
    height: auto;
    /* Ajusta a altura proporcionalmente */
    display: block;
    /* Remove qualquer espaçamento indesejado */
    border: none;
    /* Remove qualquer borda */
    padding: 0;
    /* Remove qualquer padding */
    margin: 0;
    /* Remove margens */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -40px;
    margin-top: 5px;
}

.logo img {
    height: 50px;
    margin-left: 40px;
    margin-top: 5px;
}

nav {
    position: relative;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #1b1c21;
}

.nav-list li a:hover {
    background-color: #1b1c21;
}

.nav-toggle {
    display: none;
    /* Oculta o botão em telas maiores */
    background: none;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}

.nav-toggle:hover {
    color: #bcbdb7;
    /* Cor de destaque */
}

.quemsomos {

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.quemsomos:hover::after {
    content: '';
    /* Cria um pseudo-elemento */
    position: absolute;
    /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px;
    /* Ajuste a posição do underline */
    width: 100%;
    /* Faz o underline ocupar toda a largura do texto */
    height: 2px;
    /* Espessura do underline */
    background-color: #bcbdb7;
    /* Cor do underline */
    margin: 0 2px;
    /* Adiciona espaço ao redor do underline */
}

.inicio {

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.inicio:hover::after {
    content: '';
    /* Cria um pseudo-elemento */
    position: absolute;
    /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px;
    /* Ajuste a posição do underline */
    width: 100%;
    /* Faz o underline ocupar toda a largura do texto */
    height: 2px;
    /* Espessura do underline */
    background-color: #bcbdb7;
    /* Cor do underline */
    margin: 0 2px;
    /* Adiciona espaço ao redor do underline */
}

.portfolio {

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.portfolio:hover::after {
    content: '';
    /* Cria um pseudo-elemento */
    position: absolute;
    /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px;
    /* Ajuste a posição do underline */
    width: 100%;
    /* Faz o underline ocupar toda a largura do texto */
    height: 2px;
    /* Espessura do underline */
    background-color: #bcbdb7;
    /* Cor do underline */
    margin: 0 2px;
    /* Adiciona espaço ao redor do underline */
}

.orcamento {

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.orcamento:hover::after {
    content: '';
    /* Cria um pseudo-elemento */
    position: absolute;
    /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px;
    /* Ajuste a posição do underline */
    width: 100%;
    /* Faz o underline ocupar toda a largura do texto */
    height: 2px;
    /* Espessura do underline */
    background-color: #bcbdb7;
    /* Cor do underline */
    margin: 0 2px;
    /* Adiciona espaço ao redor do underline */
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #1b1c21;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        text-align: center;
    }

    @media (max-width: 768px) {
        .hero {
            height: 15vh;
            /* Menor altura em telas menores */
        }
    }

    @media (max-width: 168px) {
        .contact-images {
            height: 15vh;
            /* Menor altura em telas menores */
        }
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-toggle {
        display: block;
    }
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    margin-top: 30px;
    color: #000000;
    font-family: 'Poppinsb', sans-serif;
}

/* Container principal da lista */
.lista-container {
    display: grid;
    /* Habilita o Grid Layout */
    grid-template-columns: repeat(3, 1fr);
    /* Divide em 3 colunas de tamanhos iguais */
    gap: 20px;
    /* Espaçamento entre as colunas */
    max-width: 800px;
    /* Largura máxima para centralizar o conteúdo */
    margin: 0 auto;
    /* Centraliza o container na página */
    padding: 20px;
}

/* Estilo da lista */
.lista-coluna {
    list-style-position: inside;
    /* Posiciona o marcador dentro do item */
    list-style-type: disc;
    /* Marcador padrão (pode mudar para circle, square etc.) */
    margin: 0;
    padding: 0;
}

/* Estilo dos itens da lista */
.lista-coluna li {
    font-size: 16px;
    /* Tamanho do texto */
    margin-bottom: 10px;
    /* Espaço entre itens */
    color: #333;
    /* Cor do texto */
    line-height: 1.5;
    /* Altura da linha para espaçamento */
}

/* Responsividade */
@media (max-width: 600px) {
    .lista-container {
        grid-template-columns: 1fr;
        /* Ajusta para 1 coluna em telas menores */
        gap: 10px;
        /* Reduz o espaçamento */
    }
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


.depoimentos-icon {
    margin: 0 10px 10px 0;
    width: 50px;
    vertical-align: top;
}

.depoimentos {
    background-color: #bcbdb7;
    padding: 20px 0;
    text-align: center;
}

.depoimentos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.depoimentos-card {
    background-color: #d9d9d9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 90%;
}

.depoimentos h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Poppinsb', sans-serif;
    color: #333;
}

.depoimentos h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.depoimentos-card p {
    font-family: 'Poppins';
    margin-bottom: 15px;
    color: #555;
}

.depoimentos-card h3 {
    font-size: medium;
    font-weight: bold;
    color: #616161;
    text-align: right;
}

@media (max-width: 992px) {
    .depoimentos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .depoimentos-grid {
        grid-template-columns: 1fr;
    }
}


.depoimentos-icon {
    margin: 0 10px 10px 0;
    width: 50px;
    vertical-align: top;
}

.projetos-icon {
    margin: 0 5px 5px 0;
    width: 30px;
    vertical-align: top;
    border-radius: 20px;

    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

/* Formulário */
.formulario-container {
    padding: 30px;
    background-color: #dedede;
    text-align: center;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    width: 100%; /* Garante que o formulário ocupe toda a largura da tela em dispositivos menores */
    box-sizing: border-box; /* Para garantir  que o padding não altere o tamanho do container */
}

.formulario .form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap; /* Permite que os elementos se reorganizem se necessário */
}

.formulario input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%; /* Garante que os campos se ajustem à largura disponível */
    box-sizing: border-box; /* Inclui o padding no tamanho total */
}

.nome {
    flex: 2;
}

.cpf {
    flex: 1;
}

.logradouro {
    flex: 2;
}

.cidade {
    flex: 1.5;
}

.uf {
    flex: 0.4;
    /* Reduzido para liberar espaço para o CEP */
}

.cep {
    flex: 1.1;
    /* Ajustado para caber no mesmo espaço da linha */
}

.bairro {
    flex: 2;
}

.numero {
    flex: 0.8;
}

.complemento {
    flex: 1.2;
}

.email,
.telefone,
.whatsapp {
    flex: 1;
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.modal.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

/* Ajustes Responsivos */

/* Para dispositivos de 768px ou menos (tablets e dispositivos menores) */
@media (max-width: 768px) {
    .formulario-container {
        padding: 20px;
    }

    .formulario .form-group {
        flex-direction: column; /* Alinha os campos verticalmente */
    }

    .nome,
    .logradouro,
    .bairro {
        flex: 1; /* Os campos se tornam de largura total */
    }

    .cpf,
    .cidade,
    .uf,
    .cep,
    .numero,
    .complemento,
    .email,
    .telefone,
    .whatsapp {
        flex: 1; /* Os campos se tornam de largura total */
    }

    textarea {
        height: 120px; /* Aumenta a altura do textarea em telas menores */
    }

    button {
        width: 100%; /* Botão ocupa toda a largura disponível */
        padding: 12px 0; /* Ajuste para o botão ser mais largo em telas pequenas */
    }
}

/* Para dispositivos de 480px ou menos (celulares pequenos) */
@media (max-width: 480px) {
    .formulario-container {
        padding: 15px;
    }

    .formulario .form-group {
        flex-direction: column; /* Os campos ficam empilhados em dispositivos muito pequenos */
    }

    .nome,
    .logradouro,
    .bairro,
    .cpf,
    .cidade,
    .uf,
    .cep,
    .numero,
    .complemento,
    .email,
    .telefone,
    .whatsapp {
        flex: 1 1 100%; /* Todos os campos ocupam toda a largura disponível */
    }

    textarea {
        height: 140px; /* Dá mais altura ao textarea */
    }

    button {
        padding: 12px 0; /* Aumenta a altura do botão */
    }
}

.projetos {
    background-color: #bcbdb7;
    padding: 20px 0;
    text-align: center;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.quote-new {
    display: flex;
    /* Usamos flexbox para centralizar */
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    align-items: center;
    /* Alinha verticalmente ao centro */
    height: 20vh;
    /* Faz a seção ocupar toda a altura da janela */
    background-color: #bcbdb7;
    /* Cor de fundo para contraste */
}

.quote-new .btn {
    display: inline-block;
    background-color: #d9d9d9;
    /* Cor de fundo do botão */
    color: #333;
    /* Cor do texto */
    text-decoration: none;
    /* Remove sublinhado */
    padding: 15px 30px;
    /* Espaçamento interno */
    font-size: 1.2rem;
    /* Tamanho da fonte */
    font-weight: 700;
    /* Espessura da fonte */
    border-radius: 5px;
    /* Bordas arredondadas */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transição suave */
}

.quote-new .btn:hover {
    background-color: #555;
    /* Cor de fundo ao passar o mouse */
    color: #fff;
    /* Cor do texto ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .btn {
        font-size: 1rem;
        padding: 12px 24px;
        /* Botão um pouco menor em telas menores */
    }
}

@media (max-width: 480px) {
    .btn {
        font-size: 0.9rem;
        padding: 10px 20px;
        /* Ajustes ainda menores para telas muito pequenas */
    }
}

.projetos-icon {
    width: 80%;
    height: auto;
    padding-top: 5px;
    padding-left: -20%;
    padding-right: -20%;
}

.projetos h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Poppinsb', sans-serif;
    color: #333;
}

.projetos h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}


@media (max-width: 992px) {
    .projetos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .projetos-grid {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #333;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    text-align: center;
}

.quote-section {
    background-color: #121212;
    /* Fundo preto */
    color: #ffffff;
    /* Texto branco */
    padding: 15px 20px;
    /* Espaçamento interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* Permite ajustar em telas menores */
    font-family: 'Poppins', sans-serif;
}

.quote-section h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-family: 'Poppinsb', sans-serif;
    margin-top: 5px;
}

.quote-section .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9d9d9;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppinsb';
    margin-top: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Transição suave */
    box-shadow: none;
}

.quote-section .btn:hover {
    background-color: #555;
    /* Cor de fundo ao passar o mouse */
    color: #fff;
    /* Cor do texto ao passar o mouse */
}

/* Seção de Contato */
.contact-section {
    display: flex;
    background-color: #dcdcdc;
    color: #333;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.contact-images {
    flex: 8;
    min-width: 100px;
    text-align: center;
}

.contact-info {
    flex: 8;
    text-align: center;
    min-width: 200px;
}

.contact-info h2 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.contact-info p {
    margin: 5px 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.contact-info .underline {
    text-decoration: underline;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.contact-images img {
    max-width: 400px;
    height: max-content;
}

/* Estilos do copyright */
footer .copyright {
    background-color: #333;
    color: #999;
    padding: 10px;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Responsividade */
@media (max-width: 1024px) {
    .quote-section {
        flex-direction: column;
        /* Itens empilhados em telas menores */
        text-align: center;
        /* Centraliza o texto */
    }

    .quote-section h2 {
        margin-bottom: 10px;
        /* Espaçamento entre o texto e o botão */
        text-align: center;
    }

    .quote-section .btn {
        width: 100%;
        /* Botão ocupa a largura total */
        padding: 12px;
        /* Ajusta o tamanho para toque */
    }

    .contact-section {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .contact-info h2 {
        font-size: 1.1rem;
    }

    .contact-info,
    .contact-images {
        flex: none;
        width: 100%;
    }

    footer .copyright {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .quote-section {
        padding: 15px;
    }

    .quote-section h2 {
        font-size: 1rem;
    }

    .quote-section .btn {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }

    .contact-section {
        padding: 10px;
        text-align: center;
    }

    .contact-info p,
    .contact-info h2 {
        font-size: 0.9rem;
    }

    .contact-images img {
        max-width: 200px;
    }

    footer p {
        font-size: 0.7rem;
    }
}